<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrmFetchKit-{{version}} Test Runner</title>

    <style type="text/css">
      @@include("../node_modules/mocha/mocha.css")
    </style>
  </head>

  <body>
    <div id="mocha"></div>

    <script>

        @@include("../node_modules/bluebird/js/browser/bluebird.min.js")

        @@include("../node_modules/underscore/underscore-min.js")

        @@include("../node_modules/mocha/mocha.js")

        @@include("../node_modules/chai/chai.js")

        @@include("../node_modules/jquery/dist/jquery.min.js")
        @@include("helpers/CrmRestKit-2.6.1.min.js")
        @@include("helpers/specUtil.js")

        @@include("../build/CrmFetchKit.bundle.js")
    </script>

    <!-- setup mocha- otherwise "describe" is not defined -->
    <script>mocha.setup('bdd')</script>

    <script src="ClientGlobalContext.js.aspx" type="text/javascript"></script>

    <!-- specifications -->
    <script>
        @@include("spec/integrationSpec.js")
    </script>

    <script>
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      } else {
        mocha.run();
      }
    </script>
  </body>
</html>
